<h1 class="page-header">
  <!-- Heading Text -->
  <%= @folder.name %>
  <!-- Actions Button -->
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation" class="dropdown-header">Folder</li>
      <li><%= link_to 'Edit Folder', edit_folder_path(@folder) %></li>
      <li><%= link_to "Destroy Folder", @folder, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <li class="divider"></li>
      <li role="presentation" class="dropdown-header">Upload Code</li>
      <li class="disabled"><a href="#">Generate New Upload Code</li>
      <li class="disabled"><a href="#">Disable Upload Code</li>
      <li class="divider"></li>
      <li role="presentation" class="dropdown-header">Upload Receipts</li>
      <li class="disabled"><a href="#">Clear All Receipts</a></li>
    </ul>
  </div>
</h1>
<p class="lead">
  <% if !@folder.upload_code %>
    This folder doesn't have an upload code.
  <% else %>
    This folder's upload code is <span class="label label-default"><%= @folder.upload_code %></span>
  <% end %>
</p>

<div class="row">
  <!-- Upload Receipts Table -->
  <div class="col-sm-12">
    <h2>Upload Receipts</h2>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th width="50%">File Name</th>
          <th width="40%">Date</th>
        </tr>
      </thead>
      <tbody>
        <% @upload_receipts.each do |upload_receipt| %>
        <tr>
          <td><%= upload_receipt.id %></td>
          <td><%= upload_receipt.file_name %></td>
          <td><%= upload_receipt.created_at %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



