<p id="notice"><%= notice %></p>

<h1>Listing Upload Urls for <%= @folder.name %></h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Folder</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @upload_urls.each do |upload_url| %>
      <tr>
        <td><%= upload_url.code %></td>
        <td><%= upload_url.folder %></td>
        <td>
          <%= link_to 'Show', folder_upload_url_path(@folder, upload_url) %><br>
          <%= link_to 'Edit', edit_folder_upload_url_path(@folder, upload_url) %><br>
          <%= link_to 'Destroy', folder_upload_url_path(@folder, upload_url), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Upload url', new_folder_upload_url_path(@folder) %><br>
<%= link_to "Back to #{@folder.name}", folder_path(@folder) %>
