<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @upload_url.code %>
</p>

<p>
  <strong>Folder:</strong>
  <%= @upload_url.folder %>
</p>

<%= link_to 'Edit', edit_upload_url_path(@upload_url) %> |
<%= link_to 'Back', upload_urls_path %>
