<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @upload_url.code %>
</p>

<p>
  <strong>Folder:</strong>
  <%= @upload_url.folder %>
</p>

<%= link_to 'Edit', edit_folder_upload_url_path(@folder, @upload_url) %> |
<%= link_to 'Back', folder_upload_urls_path(@folder) %>
