<p id="notice"><%= notice %></p>

<p>
  <strong>File name:</strong>
  <%= @upload_receipt.file_name %>
</p>

<p>
  <strong>Folder:</strong>
  <%= @upload_receipt.folder %>
</p>

<%= link_to 'Edit', edit_folder_upload_receipt_path(@folder, @upload_receipt) %> |
<%= link_to 'Back', folder_upload_receipts_path(@folder) %>
